@import './normalization.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    .app {
        position: fixed;
        inset: 0;
        display: flex;
        flex-direction: column;
    }
      
    .app__content {
        flex: 1;
        overflow-y: auto;
        position: relative;
        -webkit-overflow-scrolling: touch;
    }
}