@import './normalization.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    .app {
        position: relative;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
      
    .app__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow-y: auto;
    }
}