@import './normalization.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    .app {
        min-height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
      
    .app__content {
        flex: 1;
    }
}